* {
    font-family: sans-serif;
}

/* Tags */
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
    padding: 0 0.5em;
}
nav {
    position: relative;
    float: right;
}

/* Classes */
.name {
    position: relative;
    float: left;
}
.title {
    display: block;
}
