body {
    font-family: sans-serif;
}

/* Tags */

header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 14pt;
    padding: .5em;
    background: white;
}

main {
    position: relative;
    margin-top: 2em;
    bottom: 0;
    width: 100%;
    font-size: 14pt;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}

.nav {
    text-decoration: none;
    color: blue;
    /*border-right: 1px solid #000;*/
    /*border-left: 1px solid #000;*/
}
.nav:hover {
    text-decoration: none;
    color: black;
    background: #c0c0c0;
    cursor: pointer;
}
nav a:hover {
    text-decoration: none;
    background: #c0c0c0;
    color: #000;
}

ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid black;
}
nav li:first-child {
    border-left: none;
}
nav {
    float: right;
    margin: 0 1em 0em 0em;
}

/* Classes */
.name {
    float: left;
}

.title {
    display: block;
    font-size: 18pt;
    font-weight: bold;
}

.title a {
    color: purple;
}

.title a:hover {
    text-decoration: none;
    background: #c0c0c0;
    color: green;
}

.container {
    position: relative;
    width: 100%;
    padding: 1em 0;
    margin: auto;
    font-size: 14pt;
}

.about {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
}

.project {
    border-radius: 3px;
    box-shadow: -5px 5px 1em blue;
    margin: 1em;
    padding: 1em;
}

.contacts {
    list-style: none;
}

@media only screen and (max-width: 520px) {
    header {
        font-size: 16pt;
        text-align: center;
        border-bottom: solid #c0c0c0 1px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    nav a:hover{
        color: blue;
        background: transparent;
    }
    nav {
        float: center;
        display: block;
        margin: 0;
    }
    .container {
        font-size: 16pt;
    }
    .nav {
        font-size: 16pt;
        text-align: center;
    }
    a {
        font-size: 16pt;
    }
    .name {
        display: block;
        width: 100%;
    }
    .title {
        font-size: 18pt;
    }
    main {
        margin-top: 4em;
    }
    .about {
        position: relative;
        padding-top: 5em;
        /*text-align: center;*/
    }
    nav li {
        margin: 0 0em;
        padding: 0 0.1em;
    }
    nav li:first-child{
        padding-left: 0;
    }
    nav li:last-child{
        padding-right: 0;
    }
    ul.contacts {
        text-align: center;
        font-size: 14pt;
    }
}