<div class="container">
    <div class="resume">
        <div class="section">
            <div class="heading">
                <span class="title">Summary</span>
            </div>
            <div class="content">
                I am a highly motivated engineer who is excited to learn about and work with new and evolving technologies. I pride myself on being a fast learner, an innovative thinker, and a team player with advanced problem solving skills applicable to current issues. An ideal role would include the ability to leverage my skills to create the future, while troubleshooting and solving problems of the past.
            </div>
        </div>
        <div class="section">
            <div class="heading">
                <span class="title">Technology Proficiencies</span>
            </div>
            <div class="content">
                NodeJS, Android, AndroidWear, JavaScript, AngularJS, HTML, CSS, PHP, C#, Matlab, ImageMagick, Java, Python, COBOL
            </div>
        </div>
        <div class="section">
            <div class="heading">
                <span class="title">Work Experience</span>
            </div>
            <div class="subsection">
                <div class="subheading">
                    <span class="title">Grovo Learning, New York, NY</span>
                    <span class="date">December 2015 - Present</span>
                </div>
                <div class="content">
                    <span class="title">Frontend Engineer</span>    
                    Frontend Engineering Stuff
                </div>
            </div>
            <div class="subsection">
                <div class="subheading">
                    <span class="title">NBCUniversal, Englewood Cliffs, NJ</span>
                    <span class="date">June 2014 - December 2015</span>
                </div>
                <div class="content">
                    <span class="title">Technical Associate - Media Labs</span>
                    Developer, technical generalist, and mathematician on Technical Innovation team at NBCUniversal. Ideate, design, prototype, and build solutions to problems across company footprint and all brands, from wearables in Universal Parks to web based solutions for Television networks including NBC, CNBC, and Telemundo.<br />
                    Named Inventor on 3 Filed Patents.<br />
                    Participated in and acted as Technical/Developer Support during NBCUniversal hosted hackathons.
                </div>
            </div>
            <div class="subsection">
                <div class="subheading">
                    <span class="title">Innovative Software Solutions Inc., Maple Shade, NJ</span>
                    <span class="date">February 2012 - June 2014</span>
                </div>
                <div class="content">
                    <span class="title">COBOL Programmer</span>
                    Take specifications provided by clients and develop new software for Benefit Fund Administration. Analyze and assess bugs in existing software reported by clients and implement appropriate changes to resolve issues. Emphasis on product quality and turnaround.
                </div>
            </div>
            <div class="subsection">
                <div class="subheading">
                    <span class="title">TD Bank, Cherry Hill, NJ</span>
                    <span class="date">July 2011 - February 2012</span>
                </div>
                <div class="content">
                    <span class="title">Customer Service Representative</span>
                    Provide excellent customer service by engaging customers, assessing their financial needs, responding to questions and concerns, and nurturing the company-customer relationship.
                </div>
            </div>
        </div>
        <div class="section">
            <div class="heading">
                <span class="title">Open Source Projects</span>
            </div>
            <div class="subsection">
                <div class="subheading">
                    <span class="title">Casino Craps</span>
                <span class="date">February 2013 - January 2014</span>
                </div>
                <div class="content">
                    HTML5 implementation of casino game Craps. Utilized HTML5, JavaScript, JQuery, and CSS3.<br />
                    <a href="https://github.com/mduleone/craps" target="_blank" >https://github.com/mduleone/craps</a><br />
                    <a href="http://duleone.com/craps" target="_blank" >http://duleone.com/craps</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="heading">
                <span class="title">Education</span>
            </div>
            <div class="subsection">
                <div class="subheading">
                    <span class="title">Rutgers University, New Brunswick, NJ</span>
                    <span class="date">September 2007 - May 2011</span>
                </div>
                <div class="content">
                    Bachelors of Arts, Mathematics with Honors<br />
                    Minor: Computer Science
                </div>
            </div>
        </div>
        <div class="section">
            <div class="heading">
                <span class="title">Honors and Awards</span>
            </div>
            <div class="subsection">
                <div class="content">
                    MasterCard Masters of Code NYC Hackathon - Member of Runner Up team
                    <span class="date">November 2015</span><br />
                    William Lowell Putnam Undergraduate Mathematics Competition - 77<sup>th</sup> Percentile
                    <span class="date">2009</span>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="heading">
                <span class="title">Activities and Leadership Experience</span>
            </div>
            <div class="content">
                <div class="subheading">
                    <span class="title">Sigma Alpha Mu Fraternity</span>
                </div>
                International Board Service
                <span class="date">August 2010 - August 2011</span><br />
                Chapter Treasurer
                <span class="date">January 2009 - December 2010</span><br />
                <div class="subheading">
                    <span class="title">Order of Omega</span>
                </div>
                All Greek Leadership Society
                <span class="date">Inducted April 2011</span><br />
                <div class="subheading">
                    <span class="title">Gamma Sigma Alpha</span>
                </div>
                All Greek Honors Society
                <span class="date">Inducted December 2009</span><br />
            </div>
        </div>
    </div>
</div>