<div class="container">
    <div class="resume">
        <div class="section">
            <h2>Summary</h2>
            <div class="content">
                I am a highly motivated engineer who is excited to learn about and work with new and evolving technologies. I pride myself on being a fast learner, an innovative thinker, and a team player with advanced problem solving skills applicable to current issues. An ideal role would include the ability to leverage my skills to create the future, while troubleshooting and solving problems of the past.
            </div>
        </div>
        <div class="section">
            <h2>Technology Proficiencies</h2>
            <div class="content">
                NodeJS, Android, AndroidWear, JavaScript, AngularJS, HTML, CSS, PHP, C#, Matlab, ImageMagick, Java, Python, COBOL
            </div>
        </div>
        <div class="section">
            <h2>Work Experience</h2>
            <div class="subsection">
                <h3>Grovo Learning, New York, NY</h3>
                <span class="date">December 2015 - Present</span>
                <h4>Frontend Engineer</h4>
                <div class="content">
                </div>
            </div>
            <div class="subsection">
                <h3>NBCUniversal, Englewood Cliffs, NJ</h3>
                <span class="date">June 2014 - December 2015</span>
                <h4>Technical Associate - Media Labs</h4>
                <div class="content">
                    Developer, technical generalist, and mathematician on Technical Innovation team at NBCUniversal. Ideate, design, prototype, and build solutions to problems across company footprint and all brands, from wearables in Universal Parks to web based solutions for Television networks including NBC, CNBC, and Telemundo.<br />
                    Named Inventor on 3 Filed Patents.<br />
                    Participated in and acted as Technical/Developer Support during NBCUniversal hosted hackathons.
                </div>
            </div>
            <div class="subsection">
                <h3>Innovative Software Solutions Inc., Maple Shade, NJ</h3>
                <span class="date">February 2012 - June 2014</span>
                <h4>COBOL Programmer</h4>
                <div class="content">
                    Take specifications provided by clients and develop new software for Benefit Fund Administration. Analyze and assess bugs in existing software reported by clients and implement appropriate changes to resolve issues. Emphasis on product quality and turnaround.
                </div>
            </div>
            <div class="subsection">
                <h3>TD Bank, Cherry Hill, NJ</h3>
                <span class="date">July 2011 - February 2012</span>
                <h4>Customer Service Representative</h4>
                <div class="content">
                    Provide excellent customer service by engaging customers, assessing their financial needs, responding to questions and concerns, and nurturing the company-customer relationship.
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Open Source Projects</h2>
            <div class="subsection">
                <h3>Casino Craps</h3>
                <span class="date">February 2013 - January 2014</span>
                <div class="content">
                    HTML5 implementation of casino game Craps. Utilized HTML5, JavaScript, JQuery, and CSS3.<br />
                    <a href="https://github.com/mduleone/craps" target="_blank" >https://github.com/mduleone/craps</a><br />
                    <a href="http://duleone.com/craps" target="_blank" >http://duleone.com/craps</a>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Education</h2>
            <div class="subsection">
                <h3>Rutgers University, New Brunswick, NJ</h3>
                <span class="date">September 2007 - May 2011</span>
                <div class="content">
                    Bachelors of Arts, Mathematics with Honors<br />
                    Minor: Computer Science
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Honors and Awards</h2>
            <div class="subsection">
                <div class="content">
                    <ul>
                    <li>
                        MasterCard Masters of Code NYC Hackathon - Member of Runner Up team
                        <span class="date">November 2015</span>
                    </li>
                    <li>
                        William Lowell Putnam Undergraduate Mathematics Competition - 77<sup>th</sup> Percentile
                        <span class="date">2009</span>
                    </li>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Activities and Leadership Experience</h2>
            <div class="content">
                <h3>Sigma Alpha Mu Fraternity</h3><br />
                International Board Service
                <span class="date">August 2010 - August 2011</span><br />
                Chapter Treasurer
                <span class="date">January 2009 - December 2010</span><br />
                <h3>Order of Omega</h3>
                <span class="date">Inducted April 2011</span>
                <span class="description">All Greek Leadership Society</span><br />
                <h3>Gamma Sigma Alpha</h3>
                <span class="date">Inducted December 2009</span>
                <span class="description">All Greek Honors Society</span>
            </div>
        </div>
    </div>
</div>